body {
    margin: 0;
    background: linear-gradient(red, orangered, orange);
    text-align: center;
}
p {
    margin-left: 250pt;
    margin-right: 250pt;
    background-color: lightblue;
    padding: 10pt;
    }
